
.landingImage { 
    max-width: 100vw;
    max-height: fit-content;
    height: auto;
    
}


.title { 
    font-size: 5vw;
    font-weight: 400;
    font-family: 'Cinzel', serif;
    position: absolute;
    right: 15%;
    bottom: 40%;
    line-height: 1.2;
}

.icon { 
    font-family: 'Cinzel', serif;
    font-weight: 500;
    position: absolute;
    right: 28%;
    bottom: 70%;
    animation: transFade 2000ms;
}

.smallTitle { 
    font-family: cinzel;
    font-weight: 500;
    font-size: 1.4vw;
    position: absolute;
    right: 11.5em;
    bottom: 35%;
}

.wrapper { 
    position: relative;
    text-align: center;
    transition: all .7s ease-in-out;
} 

