.wrapper { 
    background-color: #efddd1;
    height: 100%;
    width: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.left { 
    width: 40%;
    height: 50px;
    background: green;
    text-align: left;
    
}
.right { 
    width: 60%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid #362409;
}

.imgDiv {
    margin: 65px;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    object-fit: contain;
    overflow-x: auto;
}

.imgs {
    margin: 50px;
    
    max-width: auto;
    max-height: 90%;
    height: auto;
    overflow-y: auto;
}
